*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    color: #FFFF;
    background: #ebf2f5;
}
/* por padrão o input o button e textarea não utilizam fontfamily do body, usam uma própria */
body, input, button, textarea {
    font: 600 18px Nunito, sans-serif; /*  weight, tamanho, e fonte */

}